<div class="container">

  <div class="row">

    <div class="col-8">
      <div class="bookings-main-card">
        <h1 class="title">Upcoming bookings</h1>
        <% @user.bookings.each do |booking| %>
          <% if booking.end_date >= Date.today %>
            <div class="bookings-individual-card">
              <h5><%= booking.reptile.name %></h5>
              <%= booking.reptile.species %>
              <% booking_length = booking.end_date - booking.start_date + 1 %>
              <% booking_price = booking_length * booking.reptile.daily_price %>
              <%= "£#{booking_price} (#{booking_length} days @ £#{booking.reptile.daily_price}/day)" %>
              <%= "Start: #{booking.start_date}" %>
              <%= "End: #{booking.end_date}" %>

              <div class="m-3">
                <%= "[delete button placeholder]" %>
                <%# <%= link_to "Delete", "", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this reptile?" }, class: "bttn", style: "--color: #3d673e;"  %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-4">
      <div class="bookings-main-card">
        <h4 class="title">Past bookings</h4>
        <% @user.bookings.each do |booking| %>
          <% if booking.end_date < Date.today %>
            <div class="bookings-individual-card">
              <h5><%= booking.reptile.name %></h5>
              <%= booking.reptile.species %>
              <% booking_length = booking.end_date - booking.start_date + 1 %>
              <% booking_price = booking_length * booking.reptile.daily_price %>
              <%= "£#{booking_price} (#{booking_length} days @ £#{booking.reptile.daily_price}/day)" %>
              <%= "Start: #{booking.start_date}" %>
              <%= "End: #{booking.end_date}" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</div>
