<div class="container">

  <div class="row">

    <div class="col-6">
      <h1>Create a new booking </h1>
      <div class="m-3">
          <%= link_to(reptiles_path, class: "bttn", style: "--color: #3d673e;") do %>
          back
          <% end %>
      </div>

      <%= simple_form_for [@reptile, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit class: 'bttn' %>
      <% end %>

    </div>

    <div class="col-6">

      <% if @reptile.photo.attached? %>
        <%= cl_image_tag @reptile.photo.key, height:500, width:600 %>
      <% end %>

    </div>

  </div>

</div>

