<h1>Create a new booking </h1>

<%= link_to '< back to reptiles', reptiles_path %>

<%= simple_form_for [@reptile, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'book', class: "bttn", wrap_with: { tag: 'span',tag: 'span',tag: 'span',tag: 'span' } %>
<% end %>
