<div id="navbar"class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="navbar-brand">
          <%= image_tag "logo.png" %>
      </div>
      <div class="nav-item active m-4">
        <marquee direction="right"><h1 style="font-stretch:expanded;"> Rent-A-Reptile</h1></marquee>
      </div>
    </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
                  <div class=" m-3">
                      <%= link_to(reptiles_path, class: "bttn", style: "--color: #3d673e;") do %>
                        See Reptiles
                        <% end %>
                    </div>
                    <div class=" m-3">
                      <%= link_to(new_reptile_path, class: "bttn", style: "--color: #3d673e;") do %>
                        List your Reptile
                        <% end %>
                    </div>
          <% else %>
            <li class="nav-item bttn">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>

        <div class="nav-item dropdown">
          <% if user_signed_in? %>
          <%= image_tag "dropdown_img.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, class: "dropdown-item" %>
              <%= link_to "Bookings", user_bookings_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          <% end %>
        </div>
      </div>



  </div>
</div>
