
<div class="container container-mb">
  <div class="cards">
    <% @reptiles.each do |reptile| %>
      <%= link_to reptile_path(reptile) do  %>
        <% if reptile.photo.attached? %>
          <div class="reusable-card" style=" background: url('  <%= cl_image_path reptile.photo.key%>');background-repeat: no-repeat;background-position: center;background-size: cover;">

            <div class="container__profile">
              <div class="container__profile__text">
                <div class="d-flex justify-content-between">
                  <h2><%= reptile.name %></h2>
                  <h2>£<%= reptile.daily_price %></h2>
                </div>
                <p><b><%= reptile.species %></b></p>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>
