<h1>Create a new reptile listing</h1>

<%= link_to '< back to Reptiles list', reptiles_path %>

<%= simple_form_for(@reptile) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :species %>
  <%= f.input :daily_price %>
  <%= f.input :photo, as: :file  %>
  <%= f.submit %>
  <%= form.file_field :avatar, direct_upload: true %>
<% end %>
