<div class="card-product">
  <% if @reptile.photo.attached? %>
<%= cl_image_tag @reptile.photo.key, height:500, width:600 %>
<% end %>
  <div class="card-product-infos">
    <h3><%= @reptile.name %></h3>
    <h2><%= @reptile.species %></h2>
    <p><%=@reptile.description%></p>
    <p>£<%= @reptile.daily_price %>
  </div>
</div>


<div class="d-flex justify-content-around">

    <div class="m-3">
        <%= link_to(new_reptile_booking_path(@reptile), class: "bttn", style: "--color: #3d673e;") do %>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        book
        <% end %>
    </div>

    <div class="m-3">
        <%= link_to(reptiles_path, class: "bttn", style: "--color: #3d673e;") do %>
        back
        <% end %>
    </div>


    <div class="m-3">
      <%= link_to "Delete Reptile", reptile_path(@reptile), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this reptile?" }, class: "bttn", style: "--color: #3d673e;"  %>
    </div>
</div>
