<h1><%= @reptile.name %></h1>
<ul>
<li><%= @reptile.species %>
<li><%= @reptile.description %>
<li><%= @reptile.daily_price %>
</ul>

<% if @reptile.photo.attached? %>
<%= cl_image_tag @reptile.photo.key, height:500, width:600 %>
<% end %>

<div class="d-flex justify-content-around"> 
    <div class=" m-3">
        <%= link_to(new_reptile_booking_path(@reptile), class: "bttn", style: "--color: #3d673e;") do %>
        <span></span>
        <span></span>
        <span></span>
        <span></span> 
        book
        <% end %>
    </div>

    <div class=" m-3">
        <%= link_to(reptiles_path, class: "bttn", style: "--color: #3d673e;") do %>
        back to reptiles
        <% end %>
    </div>
</div>