<h1><%= @reptile.name %></h1>
<ul>
<li><%= @reptile.species %>
<li><%= @reptile.description %>
<li><%= @reptile.daily_price %>
</ul>

<% if @reptile.photo.attached? %>
<%= cl_image_tag @reptile.photo.key, height:500, width:600 %>
<% end %>

<%= link_to 'Back to all reptiles', reptiles_path %>

<%= link_to "book?", new_reptile_booking_path(@reptile)%>
