<!DOCTYPE html>
<html>
  <head>

   <title> Rent-A-Reptile </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no", charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# had to add "/assets/" to the above to make it work %>
    <%# ^ https://stackoverflow.com/questions/72448485/the-asset-application-js-is-not-present-in-the-asset-pipeline-in-rails-7 %>
  </head>

  <body>

    <%= render "shared/navbar" %>





    <p class="notice mb-0"><%= notice %></p>
     <p class="alert mb-0"><%= alert %></p>
    <%= yield %>

    <div class="footer">
      <div id="email" style ="font-family: Nunito, Helvetica, sans-serif;">
        <p> <i class="fa-regular fa-envelope"></i> rent-a-reptile@gmail.com </p>
      </div>
    <div id="number" style ="font-family: Nunito, Helvetica, sans-serif;">
        <p><i class="fa-solid fa-phone"></i> 01234 567890</p>

      </div>
    </div>
  </body>
</html>
